@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
    font-family: 'Lato', sans-serif!important;
    font-size:16px!important;
    line-height:19px!important;
    background: #f1faff url(../img/bg-pattern.jpg) repeat!important;
}
a {
    color: #333!important;
}
a:hover {
    text-decoration: none!important;
    color: #000!important;
}
img {
    display: inline-block!important;
    margin: 0 0!important;
}
.custom-card-row {
}
.card-text {
    font-size: 16px!important;
    margin: 0.5em 0!important;
    line-height: 1.4!important;
}
.nav-bar {
    max-width: inherit!important;
}
.side-padding {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}
.card-title {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    color: #333;
    font-size: 23px!important;
    font-weight: 700!important;
}

/* Curated and published */
.owned {
    font-size: 12px;
    margin-top: 5px;
    color: #222;
    line-height: 18px!important;
}
.owned img {
    width: 40px!important;
}
.owned a, .owned a:hover {
    color: #da552f!important;
    text-decoration: none;
}
/* main-nav */
.b-t-1 {
    border-top: 2px solid #e44417;    
}
.main-nav .navbar-default {
    background-color: inherit;
    border:0px!important;
}
.main-nav .navbar {
    min-height: inherit;
    margin-bottom: 0px!important;
 }
 .main-nav .navbar-nav li a {
    font-size: 17px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    text-transform: inherit;
    color: #111!important;
}
.menu-bg {
    /*background-color: rgba(253, 242, 239, 0.7);*/
    border-radius: 3px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #cae0ec!important;
}
/* inner style */
.single-blog-card {
    border-radius: 0rem!important;
    margin-top: 0px!important;
    border: 1px solid #e8e8e8!important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.1)!important;
    color: #333;
    max-width: inherit!important;
}
.inner-card {
    margin-top: 2.2rem!important;
    padding-top:0px!important;
}
.ch-limit {
    display: block;
    height: 44px;
    overflow: hidden;
}
.hamburger-menu-overlay-link {
    text-transform: capitalize!important;
    font-size: 20px!important;
    line-height: 30px!important;
    color: #fff!important;
}
.hamburger-menu-overlay {
    padding-left: 30px!important;
    list-style: none;
    background-color: #212121;
}
.hamburger-menu-overlay a:hover {
    text-decoration: none!important;
    color: #000000!important;
}
.hamburger-menu button {
    width: 50px;
    height: 25px;
    margin-top: 12px;
}
.hamburger-menu button span {
    width: 50px;
    background-color: #5d5d5d;
}
.hamburger-menu button span:first-of-type {
    margin-bottom: 7px;
}
.post-title {
    font-size: 2.0em!important;
    font-weight: 700!important;
}
.detail-sm-block {
    margin-top:15px;
    margin-bottom:15px;
}
.detail-sm-block h3 {
    font-size: 15px;
    color: #737373;
    display: block;
    margin-top: 0px;
    margin-bottom: 8px!important;
    font-weight: 400;
    text-transform: uppercase;
}
.share-btn {
    color: #ffffff!important;
    font-size: 20px;
    padding: 0.3em;
    width: 3em;
}
.post-figure img {
    margin-bottom:15px!important;    
}
.m-b-15 {
    margin-bottom:15px!important;
}
.pagination-nav a {
    background: rgba(2, 2, 2, 0.3);
    color: #fff!important;
    padding: 1px 15px 3px 10px;
    border-radius: 16px;
    font-weight: 700!important;
    font-size: 14px!important;
    letter-spacing: 0.5px!important;
}
.pagination-nav {
    margin: 0 auto!important;
    width: 100%!important;
    max-width: 60%!important;
}
/* 31.05.19 */
.nav-bar {
    display:inherit!important;
}
.nav-bar img {
    width: inherit!important;
}
.hamburger-menu {
    float:right;
}
#searchsubmit .input-group {
    margin-top:4px;
}
#searchsubmit .input-group  .form-control {
    height: 39px!important;
    font-size: 16px!important;
    border: 1px solid #ccc!important;
    border-right:0px!important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075)!important;
}
#searchsubmit .input-group .btn {
    border-left:0px!important;
    padding: 9px 12px!important; 
    background-color: #D3D3D3;  
}
#searchsubmit .input-group .fas {
    font-size: 17px;
    color: #555;
}
.card-bg {
     background-color: #f1f1f1!important;
}
.next-ttl {
    font-size: 18px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    margin-bottom: 0px!important;
    border-top: 0px solid #ededed!important;
    padding-top: 20px!important;
}
.cover-content {
    background-color: #fff!important;
    margin: 0 auto;
    margin-top: -365px;
    position: relative;
    width: 80%;
    padding: 40px;
    border-radius: 3px;
    border: 1px solid #ededed;
    min-height: 430px;
}