<a ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
  href="{{ .Permalink }}" class="card blog-card custom-card-row" rel="bookmark" >
    {{ if isset .Params "featuredimage" -}}
    <div class="card-img-container">
      {{ if gt .Params.socialScore 1 }}
      <p class="card-img-overlay">{{ .Params.socialScore }} shares</p>
      {{ else }}     
      {{ if gt .Params.socialScore 0 }}
      <p class="card-img-overlay">{{ .Params.socialScore }} share</p>
      {{ end }}     
      {{ end }}
      <picture>
        <img src="{{.Params.featuredimage | absURL }}" class="card-img" {{ if isset .Params "featuredimagedescription" }}alt="{{.Params.featuredimagedescription}}"{{end}}>
      </picture>
    </div>

        {{ else }}
     <div class="card-img-container">
         <picture>
             <img class="card-img" src="/img/no-image-article.jpg">
        </picture>
      </div>
    {{- end }}
  <article class="card-body">
    <h2 class="card-title">{{ .Title }}</h2>
    <div class="card-text ch-limit">{{ .Content }}</div>
    <div class="card-subtext muted-text">
      <p>Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
      {{ if (isset .Params "categories") }}<p class=>{{ range .Params.categories }}#{{ . }} {{ end }}</p>{{ end }}
   

    </div>
  </article>
</a>